.button {
  width: 80%;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  font-size: 18px;
  font-weight: 500;

  border-radius: .5rem;
  color: var(--theme-color-white);
  background-color: var(--theme-color-red-500);
  cursor: pointer;
}

.button:hover {

  background-color: var(--theme-color-red-700);
}